.row
  .span3
    = partial 'application/about'
  .span9
    = partial 'application/projects'
    = partial 'application/articles'
    = partial 'application/events'

%hr
&copy; #{Time.now.year} ayanko
